[loggers]
keys=root,task,amazon,fantasyard

[logger_root]
level=NOTSET
handlers=h2

[logger_task]
level=DEBUG
handlers=h1
qualname=task

[logger_amazon]
level=DEBUG
handlers=amazon_info,amazon_debug,amazon_error,h2
qualname=amazon

[logger_fantasyard]
level=DEBUG
handlers=fantasyard_info,fantasyard_debug,fantasyard_error,h2
qualname=fantasyard


[handlers]
keys=h1,h2,fantasyard_info,fantasyard_debug,fantasyard_error,amazon_info,amazon_debug,amazon_error

[handler_h1]
class=FileHandler
level=INFO
formatter=f1
args=('task.log', 'a')

[handler_h2]
class=NullHandler
level=INFO
formatter=f1
args=(sys.stdout,)

[handler_amazon_info]
class=FileHandler
level=INFO
formatter=f1
args=('amazon.info.log', 'a')

[handler_amazon_debug]
class=FileHandler
level=DEBUG
formatter=f1
args=('amazon.debug.log', 'a')

[handler_amazon_error]
class=FileHandler
level=ERROR
formatter=f1
args=('amazon.error.log', 'a')

[handler_fantasyard_info]
class=FileHandler
level=INFO
formatter=f1
args=('fantasyard.info.log', 'a')

[handler_fantasyard_debug]
class=FileHandler
level=DEBUG
formatter=f1
args=('fantasyard.debug.log', 'a')

[handler_fantasyard_error]
class=FileHandler
level=ERROR
formatter=f1
args=('fantasyard.error.log', 'a')

[formatters]
keys=f1

[formatter_f1]
format=###%(asctime)s### %(filename)s[line:%(lineno)d] %(levelname)s %(message)s