[loggers]
keys=root,task

[logger_root]
level=NOTSET
handlers=h2

[logger_task]
level=INFO
handlers=h1
qualname=task

[handlers]
keys=h1,h2

[handler_h1]
class=FileHandler
level=INFO
formatter=f1
args=('task.log', 'a')

[handler_h2]
class=StreamHandler
level=INFO
formatter=f1
args=(sys.stdout,)

[formatters]
keys=f1

[formatter_f1]
format=###%(asctime)s### %(filename)s[line:%(lineno)d] %(levelname)s %(message)s